In [ ]:
import pandas as pd

df = pd.read_csv("hf://datasets/johnidouglas/tmdb_5000_movies.csv/tmdb_5000_movies.csv")

## ToDo from scratch with the teacher together

Rock'n Roll, Let's do it