In [1]:
import pandas as pd

In [11]:
df = pd.read_excel('sheets/act.xlsx')
df = df[df['OK'] == 1]
df["Date"] = [str(item)[:10] for item in df["Kezdés ideje"].values]
# df = df.groupby(['Date', 'Class']).size().reset_index(name='Count')
# df = df.sort_values(by='Neptun code', ascending=True)
# df.rename(columns={"Count":"Count of participations"}, inplace=True)

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 154 entries, 0 to 172
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   154 non-null    int64
 1   Kezdés ideje         154 non-null    datetime64[ns]
 2   Befejezés időpontja  154 non-null    datetime64[ns]
 3   E-mail-cím           153 non-null    object
 4   Név                  154 non-null    object
 5   Name                 154 non-null    object
 6   Neptun code          154 non-null    object
 7   Class                154 non-null    object
 8   OK                   154 non-null    int64
 9   Date                 154 non-null    object
dtypes: datetime64[ns](2), int64(2), object(6)
memory usage: 13.2+ KB

,Id,Kezdés ideje,Befejezés időpontja,E-mail-cím,Név,Name,Neptun code,Class,OK,Date
0,2,2025-09-18 15:30:03,2025-09-18 15:30:26,NaN,Róka Dávid,Róka Dávid,D3WR6L,NLP CS:14:00-16:00(IK-105),1,2025-09-18
1,3,2025-09-18 15:30:03,2025-09-18 15:30:26,vargadavidlajos@mailbox.unideb.hu,Varga Dávid Lajos,Varga Dávid Lajos,DVPJ8L,NLP CS:14:00-16:00(IK-105),1,2025-09-18
2,4,2025-09-18 15:30:04,2025-09-18 15:30:34,zalantoth21@mailbox.unideb.hu,Tóth Zalán András,Tóth Zalán András,GAV6G1,NLP CS:14:00-16:00(IK-105),1,2025-09-18
3,5,2025-09-18 15:30:17,2025-09-18 15:30:39,zilahi.alexandra04@mailbox.unideb.hu,Zilahi Alexandra,Zilahi Alexandra,A1TPKE,NLP CS:14:00-16:00(IK-105),1,2025-09-18
4,6,2025-09-18 15:30:04,2025-09-18 15:30:40,molzsolti03@mailbox.unideb.hu,Molnár Zsolt Levente,Molnár Zsolt Levente,SM84WO,NLP CS:14:00-16:00(IK-105),1,2025-09-18

In [12]:
neptun_codes_by_class = df.groupby('Class')['Neptun code'].apply(list).to_dict()
print(neptun_codes_by_class)

{'AIPD CS:16:00-18:00(IK-103)': ['SKVLGT', 'IXY6RA', 'FVCN6I', 'I8BTEF', 'VQGBU8', 'YYCT8E', 'BQ7I39', 'GVH1R0', 'BW3451', 'GTCFB2', 'H3Q62Q', 'COP3G8', 'DM3NOD'], 'NLP CS:14:00-16:00(IK-105)': ['D3WR6L', 'DVPJ8L', 'GAV6G1', 'A1TPKE', 'SM84WO', 'B906KU', 'DFNZ1N', 'XNQ1NU', 'MSUH6O', 'CTDXKK', 'W1CNPE', 'GWZENN', 'OV1GNP', 'JLJZDD', 'OVQCD1', 'H6SWL7', 'QH5UTC', 'BMLPAG', 'D3WR6L', 'OV1GNP', 'GWZENN', 'DVPJ8L', 'XNQ1NU', 'SM84WO', 'DFNZ1N', 'W1CNPE', 'A1TPKE', 'GAV6G1', 'H6SWL7', 'OVQCD1', 'MSUH6O', 'B906KU', 'QH5UTC', 'BMLPAG', 'JK2E05'], 'NLP CS:18:00-20:00(IK-206)': ['Q66PXT', 'HSME6L', 'BALT4Q', 'CXNOLK', 'EMB4PF', 'F002KD', 'XKLZTB', 'CB52IT', 'C3MG6E', 'O0V6O4', 'AABZM4', 'R5WU7R', 'N12O1L', 'CYF65U', 'AV2KLX', 'PBK5AX', 'GOOXNF', 'CYF65U', 'N12O1L', 'HSME6L', 'CXNOLK', 'CN8END', 'EMB4PF', 'GOOXNF', 'R5WU7R', 'F002KD', 'PBK5AX', 'BALT4Q', 'Q66PXT', 'AV2KLX'], 'NLP K:14:00-16:00(IK-TEOKJ II. em. 106)': ['H9Z9RE', 'WCD2M3', 'MGEBUL', 'BFQBGY', 'D2SBLH', 'VL4F3Q', 'U0I7TX', 'AC4MO7', 'CM903S', 'MKRHR0', 'IKVDYG', 'BLOUW9', 'BOYXNN', 'GMWTEL', 'CPXZ3M', 'G5XMHV', 'ZDV9BS', 'GSJE81', 'P7ZKGB', 'DQMXK2', 'WREKWA', 'G9UB1S', 'H98Y1X', 'JL51SF', 'AD0ULJ', 'VGORG8', 'K1URYN', 'EXYXF8', 'DAEID2', 'GBVMNN', 'SF4BLB'], 'NLP K:16:00-18:00(IK-203)': ['JB25M8', 'YLYPDM', 'I8LM91', 'A2E2QT', 'GLYQ43', 'D48ESY', 'FS0QFY', 'RWBV5H', 'V4PS4K', 'IBRO2O', 'QO2OYW', 'E1RCGX'], 'NLP K:18:00-20:00(IK-203)': ['F8FOX0', 'QX4P71', 'GO1IHI', 'M3N8YE', 'T8XGO6', 'IXSKJR', 'LV4T4L', 'CXFH9G', 'L5B771', 'GHJMFP', 'X5AZ5C', 'GZC5BO', 'B2XKP4', 'DOPB1V', 'SXDWT4', 'VODJS5'], 'NLP\xa0K:08:00-10:00(IK-204)': ['UOQ1WK', 'WYSP81', 'E17UAW', 'X98U7O', 'NJLRNH', 'RP88LS', 'S4BMSQ', 'MIL8I8', 'NCWS2Q', 'SQAEL4', 'WSZJEV', 'E2DSBD', 'KCRMSH', 'LURJKX', 'CCGXBD', 'KGX83C', 'WFHBK7']}

In [13]:
from collections import defaultdict

absent_by_class_and_date = defaultdict(dict)

for class_name, all_neptun_codes in neptun_codes_by_class.items():
    class_df = df[df['Class'] == class_name]
    for date in class_df['Date'].unique():
        present_codes = set(class_df[class_df['Date'] == date]['Neptun code'])
        absent_codes = set(all_neptun_codes) - present_codes
        absent_by_class_and_date[class_name][date] = list(absent_codes)

# Példa kiírás
for class_name, dates in absent_by_class_and_date.items():
    for date, absent_codes in dates.items():
        print(f"{class_name} | {date} | Hiányzók: {absent_codes}")

AIPD CS:16:00-18:00(IK-103) | 2025-09-25 | Hiányzók: []
NLP CS:14:00-16:00(IK-105) | 2025-09-18 | Hiányzók: ['JK2E05']
NLP CS:14:00-16:00(IK-105) | 2025-09-25 | Hiányzók: ['JLJZDD', 'CTDXKK']
NLP CS:18:00-20:00(IK-206) | 2025-09-18 | Hiányzók: ['CN8END']
NLP CS:18:00-20:00(IK-206) | 2025-09-25 | Hiányzók: ['CB52IT', 'AABZM4', 'O0V6O4', 'XKLZTB', 'C3MG6E']
NLP K:14:00-16:00(IK-TEOKJ II. em. 106) | 2025-09-23 | Hiányzók: []
NLP K:16:00-18:00(IK-203) | 2025-09-23 | Hiányzók: []
NLP K:18:00-20:00(IK-203) | 2025-09-23 | Hiányzók: []
NLP K:08:00-10:00(IK-204) | 2025-09-23 | Hiányzók: []