In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('sheets/act.xlsx')
df = df[df['OK'] == 1]

df = df.groupby(['Class', 'Neptun code']).size().reset_index(name='Count')
df = df.sort_values(by='Neptun code', ascending=True)
df.rename(columns={"Count":"Count of participations"}, inplace=True)

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, 0 to 17
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Class                    52 non-null     object
 1   Neptun code              52 non-null     object
 2   Count of participations  52 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.6+ KB

                         Class Neptun code  Count of participations
0   NLP CS:14:00-16:00(IK-105)      A1TPKE                        1
18  NLP CS:18:00-20:00(IK-206)      AABZM4                        1
19  NLP CS:18:00-20:00(IK-206)      AV2KLX                        1
1   NLP CS:14:00-16:00(IK-105)      B906KU                        1
20  NLP CS:18:00-20:00(IK-206)      BALT4Q                        1

In [5]:
# https://pandao.github.io/editor.md/en.html

exclude_list = [
    'NLP CS:14:00-16:00(IK-105)',
]

filtered_df = df[~df['Class'].isin(exclude_list)]
filtered_df.head()

print("Class | Neptun code | Count of participations")
print("--- | --- | --- ")
for i in range(0, len(filtered_df)):
    tmp_class = filtered_df["Class"].values[i]
    tmp_nk = filtered_df["Neptun code"].values[i]
    tmp_cop = filtered_df["Count of participations"].values[i]
    print(f"{tmp_class} | {tmp_nk} | {tmp_cop}")

Class | Neptun code | Count of participations
--- | --- | ---
NLP CS:18:00-20:00(IK-206) | AABZM4 | 1
NLP CS:18:00-20:00(IK-206) | AV2KLX | 1
NLP CS:18:00-20:00(IK-206) | BALT4Q | 1
NLP CS:18:00-20:00(IK-206) | C3MG6E | 1
NLP CS:18:00-20:00(IK-206) | CB52IT | 1
NLP K:08:00-10:00(IK-204) | CCGXBD | 1
NLP CS:18:00-20:00(IK-206) | CXNOLK | 1
NLP CS:18:00-20:00(IK-206) | CYF65U | 1
NLP K:08:00-10:00(IK-204) | E17UAW | 1
NLP K:08:00-10:00(IK-204) | E2DSBD | 1
NLP CS:18:00-20:00(IK-206) | EMB4PF | 1
NLP CS:18:00-20:00(IK-206) | F002KD | 1
NLP CS:18:00-20:00(IK-206) | GOOXNF | 1
NLP CS:18:00-20:00(IK-206) | HSME6L | 1
NLP K:08:00-10:00(IK-204) | KCRMSH | 1
NLP K:08:00-10:00(IK-204) | KGX83C | 1
NLP K:08:00-10:00(IK-204) | LURJKX | 1
NLP K:08:00-10:00(IK-204) | MIL8I8 | 1
NLP CS:18:00-20:00(IK-206) | N12O1L | 1
NLP K:08:00-10:00(IK-204) | NCWS2Q | 1
NLP K:08:00-10:00(IK-204) | NJLRNH | 1
NLP CS:18:00-20:00(IK-206) | O0V6O4 | 1
NLP CS:18:00-20:00(IK-206) | PBK5AX | 1
NLP CS:18:00-20:00(IK-206) | Q66PXT | 1
NLP CS:18:00-20:00(IK-206) | R5WU7R | 1
NLP K:08:00-10:00(IK-204) | RP88LS | 1
NLP K:08:00-10:00(IK-204) | S4BMSQ | 1
NLP K:08:00-10:00(IK-204) | SQAEL4 | 1
NLP K:08:00-10:00(IK-204) | UOQ1WK | 1
NLP K:08:00-10:00(IK-204) | WFHBK7 | 1
NLP K:08:00-10:00(IK-204) | WSZJEV | 1
NLP K:08:00-10:00(IK-204) | WYSP81 | 1
NLP K:08:00-10:00(IK-204) | X98U7O | 1
NLP CS:18:00-20:00(IK-206) | XKLZTB | 1